/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

$black:  #3b3b3b;
$white: #f9f9f9;
$backgroundColor: #f9f9f9;

$grey-dark:   #222;
$grey-medium: #999;
$grey-light:  #d9d9d9;

$main-text-color:  #444;

$hilite: #fffbd7;

$link: #9c6f51;
$accent: #9c6f51;


/* Typography
   ========================================================================== */
$sans:  "Sen", "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
$serif: "Sen", "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", serif;



/* Type Scale
   ========================================================================== */
/** * 12 & 16 as roots then powers of two. */
$fs1:64px;
$fs2:48px;
$fs3:30px;
$fs4:22px;
$fsp:20px;
$fs5:15px;
$fs6:11px;

// Line Height
$lh: 33px;
$lhsmall: 24px;

// Sizing
$footerHeight: 320px;

// Griddit
/* Break Points
   ========================================================================== */

/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-max-width:800px;
$breakpoint-3-max-width:1200px;

/* Style Tidbits
   ========================================================================== */
$borderR: 4px;
